<div class="col-md-6 col-md-offset-3">
	<form name="form" (ngSubmit)="f.form.valid && add()" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="name">문제</label>
			<input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="answer">답</label>
			<input type="text" class="form-control" name="answer" [(ngModel)]="model.answer" #answer="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="subject">주어</label>
			<input type="text" class="form-control" name="subject" [(ngModel)]="model.subject" #subject="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="verb">동사</label>
			<input type="text" class="form-control" name="verb" [(ngModel)]="model.verb" #verb="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="complement">보어</label>
			<input type="text" class="form-control" name="complement" [(ngModel)]="model.complement" #complement="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="step">Step: {{model.step}}</label>
			<select class="form-control" [(ngModel)]="model.step" #step="ngModel" required	name="step">
				<option value="1">Step 1</option>
				<option value="2">Step 2</option>
				<option value="3">Step 3</option>
			</select>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="disable">활성화</label>
			<label class="switch switch-default switch-pill switch-primary">
				<input type="checkbox" class="form-control switch-input" name="disable" [(ngModel)]="model.disable" #disable="ngModel" checked>
				<span class="switch-label"></span>
				<span class="switch-handle"></span>
			</label>
		</div>
		<div class="form-group">
			<button [disabled]="loading" (click)="changeString(model)" class="btn btn-primary">생성하기</button>
		</div>
	</form>
</div>