<div class="col-md-6 col-md-offset-3">
	<form name="form" (ngSubmit)="f.form.valid && add()" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !topik.valid }">
			<label for="topiknum">번호</label>
			<input type="text" class="form-control" name="topiknum" [(ngModel)]="model.topiknum" #topiknum="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !topik.valid }">
			<label for="title">문제타이틀</label>
			<input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !topik.valid }">
			<label for="topik">문제내용</label>
			<input type="text" class="form-control" name="topik" [(ngModel)]="model.topik" #topik="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !topik.valid }">
			<label for="answer">보기</label>
			<input type="text" class="form-control" name="answer" [(ngModel)]="model.answer" #answer="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !topik.valid }">
			<label for="answerNum">정답</label>
			<input type="text" class="form-control" name="answerNum" [(ngModel)]="model.answerNum" #answerNum="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !topik.valid }">
			<label for="time">날짜</label>
      <ng2-datepicker name="time" #time="ngModel" [(ngModel)]="model.time" [options]="calendarOptions"></ng2-datepicker>
		</div>
		<div class="form-group">
			<button (click)="changeString(model)" class="btn btn-primary">생성하기</button>
		</div>
	</form>
</div>