<tabset>
	<tab heading="All">
		<app-sentence-table [step]="0"></app-sentence-table>
	</tab>
	<tab heading="Step 1">
		<app-sentence-table [step]="1"></app-sentence-table>
	</tab>
	<tab heading="Step 2">
		<app-sentence-table [step]="2"></app-sentence-table>
	</tab>
	<tab heading="Step 3">
		<app-sentence-table [step]="3"></app-sentence-table>
	</tab>
</tabset>

<!--<Button class="btn btn-primary" (click)="createUser()">생성</Button>
<Button class="btn btn-primary" (click)="getProgress()">받기</Button>

<div *ngIf="data==1">
	구글 ID: {{model.user}}
	<ul *ngFor="let a of model.progress">
		<li>카테고리: {{a.smallcat}}</li>
		<li>진행도1: {{a.level1}}</li>
		<li>진행도2: {{a.level2}}</li>
		<li>진행도3: {{a.level3}}</li>
	</ul>
</div>

<div class="col-md-6 col-md-offset-3">
	<form name="form" (ngSubmit)="f.form.valid && add()" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !smallcat.valid }">
			<label for="smallcat">카테고리</label>
			<input type="text" class="form-control" name="smallcat" [(ngModel)]="progress.smallcat" #smallcat="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !smallcat.valid }">
			<label for="level1">단계1</label>
			<input type="text" class="form-control" name="level1" [(ngModel)]="progress.level1" #level1="ngModel" required />
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !smallcat.valid }">
			<label for="level2">단계2</label>
			<input type="text" class="form-control" name="level2" [(ngModel)]="progress.level2" #level2="ngModel" required />
		</div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !smallcat.valid }">
			<label for="level3">단계3</label>
			<input type="text" class="form-control" name="level3" [(ngModel)]="progress.level3" #level3="ngModel" required />
		</div>
		<div class="form-group">
			<button (click)="progressPush(progress)" class="btn btn-primary">생성하기</button>
		</div>
	</form>
</div>-->