<div>
	<div class="card">
		<div class="card-block">
			<div class="text-right">
			<table class="table table-bordered table-striped table-condensed" border="1">
				<thead>
					<tr>
						<th>광고제목</th>
						<th>이미지</th>
						<th>연결된 퀴즈</th>
						<th>링크</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let p of results; let i=index">
						<!--수정 상태의 입력 폼-->
						<td *ngIf="p._id === getData" colspan="100%">
							<form name="form" (ngSubmit)="f.form.valid && updateAd()" #f="ngForm" novalidate>
								<div class="form-group col-md-2" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
									<label for="title">광고제목</label>
									<input type="text" class="form-control" name="title" [(ngModel)]="model.title" placeholder="title" #title="ngModel"
										required />
								</div>
								<div class="col-md-2">
									<label for="img">이미지</label>
									<img class="img-responsive" height="150" *ngIf="p.img != null" src="http://52.175.147.246:3000/imgs/{{model.img}}">
								</div>

								<div class="form-group col-md-2" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
									<label for="quiz">퀴즈ID</label>
									<input type="text" class="form-control" name="quiz" [(ngModel)]="model.quiz" placeholder="quiz" #quiz="ngModel" required
									/>
								</div>
								<div class="form-group col-md-2" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
									<label for="link">광고링크</label>
									<input type="text" class="form-control" name="link" [(ngModel)]="model.link" placeholder="link" #link="ngModel" required
									/>
								</div>
								<div class="form-group col-md-1">
									<p><button [disabled]="loading" class="btn btn-primary btn-sm">수정</button></p>
								</div>
							</form>
							<p><button [disabled]="loading" (click)="closeSubmit()" class="btn btn-primary btn-sm">닫기</button></p>
						</td>
						<!--기본 상태의 테이블-->
						<td *ngIf="p._id !== getData">{{p.title}}</td>
						<td *ngIf="p._id !== getData"><img class="img-responsive" height="150" *ngIf="p.img != null" src="http://52.175.147.246:3000/imgs/{{p.img}}"><a *ngIf="p.img == null">그림</a></td>
						<td *ngIf="p._id !== getData">{{p.quiz}}</td>
						<td *ngIf="p._id !== getData">{{p.link}}</td>
						<td *ngIf="p._id !== getData"><button class="btn btn-sm btn-primary" (click)="getAd(p._id); $event.stopPropagation()">수정</button></td>
						<td *ngIf="p._id !== getData"><button class="btn btn-sm btn-danger" (click)="confirmDelete(p); $event.stopPropagation()">삭제</button></td>
					</tr>
					<!-- 추가를 위한 입력 폼 -->
					<tr *ngIf="addData">
						<td colspan="100%">
							<app-ad-edit></app-ad-edit>
						</td>
					</tr>
				</tbody>
			</table>
			<div *ngIf="!addData" class="text-right">
				<button (click)="addAd()" class="btn btn-primary btn-sm">Add</button>
			</div>
			<div *ngIf="addData" class="text-right">
				<button (click)="closeAdd()" class="btn btn-primary btn-sm">닫기</button>
			</div>
		</div>
	</div>
</div>